body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: start;
    column-gap: 20px;
    margin: 0;
    background-color: gray;
    border-right: thin black solid;
}

.sidebar {
    background-color: gray;
    grid-column: 2;
    display: flex;
    flex-flow: column;
    width: 300px;
    margin: 0
}

.table {
    grid-column: 1;
    display: flex;
    flex-flow: column;
    margin-top: -170px;
    caption-side: bottom;
}

.table th, .table td {
    text-align: center;
    padding: 5px;
}

.table thead tr {
    background-color: darkcyan;
    color: white;
}

.table tfoot tr {
    background-color: darkcyan;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: rgb(254, 189, 92);
}

.table tbody tr:nth-child(odd) {
    background-color: rgb(180, 179, 176);
}











.stop {
    clear: both;
}