body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-content {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 300px;
}

.sidebar {
    background-color: chocolate;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.table {
    display: flex;
    flex-flow: column;
}












.stop {
    clear: both;
}