body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: lightskyblue;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form row label {
    width: 150px;
    text-align: right;
}

footer {
    background-color:lightseagreen;
    padding: 20px;
    text-align: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}