body {
    font-family: Arial, Helvetica, sans-serif;
}

.questions {
    border: thin solid black;
    box-shadow: 5px 5px 5px;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
}

.schedule {
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    caption-side: bottom;
    border-spacing: 0;
}

.schedule th, .schedule td {
    text-align: center;
    padding: 5px;
}

.schedule thead tr {
    background-color: maroon;
    color: white;
}

.schedule tfoot tr {
    background-color: maroon;
    color: white;
}

.subject {
    vertical-align: top;
}

.schedule tbody tr:nth-child(even) {
    background-color: rgb(254, 189, 92);
}