body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;

}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: white;
}

.form-row input[type='submit'] {
    background-color: rgb(40, 64, 152);
    color: white;
    padding: 10px;
}

.spacer {
    width: 150px;
    text-align: right;
}

fieldset {
    background-color: cadetblue;
    width: 80%;
    margin: auto;
}

legend {
    background-color: rgb(0, 73, 129);
    color: white;
    padding: 20px;
}

@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row {
        flex-direction: column;
    }

    fieldset {
        width: 95%;
    }

    .form-row label, spacer {
        text-align: left;
    }

}